.idea
apache2/conf/*
!apache2/conf/nofile
.env
docker-compose.yml
servicios/*
!servicios/nofile
!servicios/service/benchmark.php

nginx/*
nginx/nginx.conf
nginx/proxy.conf

nodejs/*
!nodejs/nofile

golang/*
mongo/*
