version: "3.2"
services:
      
  nginx.lan:
    image: nginx:1.15.12
    restart: always
    container_name: nginx.lan
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/access.log:/etc/nginx/access_log.log
      - ./nginx/error.log:/etc/nginx/error_log.log
      - ./nginx/cache/:/etc/nginx/cache
    networks:
      - internal
    environment:
      - TZ=America/Santiago
      - ENV=development
    ports:
      - 80:80
      - 443:443
      
  service.lan:
    image: robertoramos/docker_laravel:latest
    container_name: service.lan
    #build: './apache2/'
    restart: always
    networks:
      - internal
    environment:
      - TZ=America/Santiago
    volumes:
      - ./servicios/${ENV_APACHE_SITE_DIR}:/var/www/html
      - ./apache2/${ENV_APACHE_SITE_DEFAULT}:/etc/apache2/sites-available/000-default.conf
    expose:
      - "80"
      
  # otherservice.lan:
    # image: robertoramos/docker_laravel:latest
    # container_name: otherservice.lan
    # restart: always
    # networks:
      # - internal
    # environment:
      # - TZ=America/Santiago
    # volumes:
      # - ./servicios/${ENV_APACHE_SITE_DIR2}:/var/www/html
      # - ./apache2/${ENV_APACHE_SITE_DEFAULT2}:/etc/apache2/sites-available/000-default.conf
    # expose:
      # - "80"

  mysql:
    image: mysql:5
    restart: always
    volumes:
      - mysql_vol:/var/lib/mysql
      - ./mysql/custom_my.cnf:/etc/mysql/mysql.conf.d/custom_my.cnf
      - ./mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf
    networks:
      - internal
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
      - MYSQL_USER=user
      - MYSQL_PASS=pass
      - TZ=America/Santiago
    ports:
      - "3306:3306"

networks:
  internal:

volumes:
  mysql_vol:
  storage_vol: